appdirs==1.4.4;
beautifulsoup4==4.10.0; 
bs4==0.0.1; 
certifi==2021.10.8;
charset-normalizer==2.0.12;
click-default-group==1.2.2;
click==7.1.2; or  and
colorama==0.4.4;
cssselect==1.1.0; 
fake-useragent==0.1.11; 
idna==3.3;
importlib-metadata==4.11.2;
lxml==4.8.0; 
numpy==1.22.2;
oauthlib==3.2.0;
pandas==1.2.5; 
parse==1.19.0; 
pyee==8.2.2;
pyppeteer==1.0.2;
pyquery==1.4.3; 
pysocks==1.7.1;
python-dateutil==2.8.2;
pytz==2021.3; 
requests-html==0.10.0; 
requests-oauthlib==1.2.0;
requests==2.27.1; 
six==1.16.0; 
soupsieve==2.3.1;
sqlite-fts4==1.0.1;
sqlite-utils==3.25;
tabulate==0.8.9
tqdm==4.63.0;
tweepy==3.10.0;
twitter-to-sqlite==0.21.4
typer==0.3.2;
urllib3==1.26.8;
w3lib==1.22.0; 
websockets==10.2;
zipp==3.7.0; 
